
<!-- Mobile Version  -->
<a [href]="article.url" class="mdl-card mdl-shadow--4dp mdl-cell--hide-desktop ml-900px-content">
  <div class="mdl-card--expand"></div>

  <div class="mdl-card__actions">
    <span class="mdl-card__title">{{ article.title }}</span>
    <div class="mdl-card__subtitle">{{ article.subtitle }}</div>
  </div>
</a>

<!-- Desktop version -->
<a [href]="article.url" class="ml-short-post mdl-cell--hide-phone mdl-cell--hide-tablet ml-900px-content">
  <h2>{{ article.title }}</h2>
  <div class="ml-short-post__description">
    {{ article.description }}
  </div>
</a>
