
<!-- Mobile Version  -->
<div class="mdl-card mdl-shadow--4dp mdl-cell--hide-desktop">
  <div class="mdl-card--expand"></div>

  <div class="mdl-card__actions">
    <span class="mdl-card__title">The Article Title</span>
    <div class="mdl-card__subtitle">This is the subtitle of the article</div>
  </div>
</div>

<!-- Desktop version -->
<article class="ml-short-post mdl-cell--hide-phone mdl-cell--hide-tablet">
  <h2>The Article Title</h2>
  <div class="ml-short-post__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum magna tellus, at bibendum felis dictum id. Nullam mattis ligula quis risus condimentum, id congue massa faucibus. Sed placerat lorem id erat maximus pellentesque. Interdum et malesuada fames ac ante ipsum primis in faucibus
  </div>
</article>
