
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <ml-blog-card></ml-blog-card>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <ml-blog-card></ml-blog-card>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <ml-blog-card></ml-blog-card>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <ml-blog-card></ml-blog-card>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <ml-blog-card></ml-blog-card>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <ml-blog-card></ml-blog-card>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <ml-blog-card></ml-blog-card>
  </div>
</div>
