
html, body {
  color: #555;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.mdl-layout__drawer {
  border-right: none;
}

.drawer__header {
  height: 145px;
  position: relative;
  background-color: #009688;
  color: #FFF;

  .mdl-layout-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mdl-layout-title {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.ml-subheader {
  height: 400px;

  .ml-subheader__content {
    margin: auto;
  }

  .ml-subheader__title {
    font-weight: 300;
    font-size: 72px;
    display: inline-block;
    position: relative;
    top: 20px;
    margin-left: 40px;
  }

  .ml-subheader__links {
    list-style: none;
    font-size: 27px;
    text-align: center;

    // we remove the margin
    position: relative;
    top: -30px;

    li {
      display: inline-block;
      margin-left: 20px;

      a {
        color: white;
      }
    }
  }
}

.ml-mini-footer__align-center {
  margin: auto;
}

.ml-900px-content {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
