<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Home</span>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Melvin Laplanche</span>

    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Blog</a>
      <a class="mdl-navigation__link" href="">Projects</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <h1>My First Angular 2 App</h1>
  </main>
</div>
