
.mdl-layout__drawer {
  border-right: none;
}

.drawer__header {
  height: 145px;
  position: relative;
  background-color: #009688;
  color: #FFF;

  .mdl-layout-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mdl-layout-title {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
