
ml-blog-article {
  header {
    img {
      width: 100%;
      position: absolute;
    }
  }

  .mdl-card {
    box-shadow: none;
    background: transparent;
  }

  .mdl-card__title,
  .mdl-card__subtitle {
    // color: white;
  }
}
