
<header style="background-image: url('./images/background.png');">

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--2-offset-desktop mdl-cell--8-col-desktop">
      <article class="mdl-card mdl-shadow--4dp mdl-cell--hide-desktop ml-900px-content">

        <div class="mdl-card--expand"></div>

        <div class="mdl-card__actions">
          <span class="mdl-card__title">{{ article.title }}</span>
          <div class="mdl-card__subtitle">{{ article.subtitle }}</div>
        </div>
      </article>
    </div>
  </div>
</header>

<article>
  <ml-markdown [data]="article.content"></ml-markdown>
</article>
