
<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--4-col mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--2-offset-desktop mdl-cell--8-col-desktop">
    <div [ngClass]="{'animated shake': error}" class="mdl-card mdl-shadow--2dp ml-900px-content ml-form-wrapper">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Login</h2>
      </div>

      <div class="mdl-card__supporting-text">
        <form action="#" (ngSubmit)="login()">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" [(ngModel)]="email" type="email" id="email">
            <label class="mdl-textfield__label" for="email">Email</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" [(ngModel)]="password" type="password" id="password">
            <label class="mdl-textfield__label" for="password">Password</label>
          </div>

          <div class="ml-form--actions">
            <button type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
              Cancel
            </button>

            <button type="submit" class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
