<md-sidenav-layout fullscreen>

  <!-- TODO mobile only -->
  <md-sidenav #sidenav>
    <md-nav-list>
      <template ngFor let-route [ngForOf]="routes">
        <a md-list-item *ngIf="route.depth==0" routerLink="{{ route.path }}" (click)="sidenav.close()">
          <md-icon md-list-icon *ngIf="route.icon">{{ route.icon }}</md-icon>
          <span md-line>{{ route.name }}</span>
        </a>
      </template>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>

    <span>My Application Title</span>
    <span class="fill-remaining-space"></span>

    <!-- TODO desktop only -->
    <div>
      <template ngFor let-route [ngForOf]="routes">
        <a md-button routerLink="{{ route.path }}">{{ route.name }}</a>
      </template>
    </div>

  </md-toolbar>

  <router-outlet></router-outlet>
</md-sidenav-layout>
