
<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--4-col mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--2-offset-desktop mdl-cell--8-col-desktop">
    <div class="mdl-card mdl-shadow--2dp ml-900px-content ml-form-wrapper">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Add an Article</h2>
      </div>

      <div class="mdl-card__supporting-text">
        <form action="#">
          <div class="ml-form--publish">
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="publish">
              <input type="checkbox" id="publish" class="mdl-switch__input">
              <span class="mdl-switch__label"></span>
            </label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" [(ngModel)]="article.title" type="text" id="title">
            <label class="mdl-textfield__label" for="title">Title</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" [(ngModel)]="article.subtitle" type="text" id="subtitle">
            <label class="mdl-textfield__label" for="subtitle">Subtitle</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" [(ngModel)]="article.description" rows="4" id="description"></textarea>
            <label class="mdl-textfield__label" for="description">Description</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" [(ngModel)]="article.content" type="text" rows="20" id="content"></textarea>
            <label class="mdl-textfield__label" for="content">Content</label>
          </div>

          <div class="ml-form--actions">
            <button type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
              Cancel
            </button>

            <button type="submit" class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect">
              Save
            </button>
          </div>
        </form>

        <ml-dropzone endpoint="http://localhost:3000/upload"></ml-dropzone>
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--4-col mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--2-offset-desktop mdl-cell--8-col-desktop">
    <div class="mdl-card mdl-shadow--2dp ml-900px-content">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Preview</h2>
      </div>

      <div class="mdl-card__supporting-text">
        <ml-markdown [data]="article.content"></ml-markdown>
      </div>
    </div>
  </div>
</div>
