ml-blog-create-article {
  .mdl-textfield {
    width: 100%;
    max-width: 700px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .ml-form--publish {
    position: absolute;
    top: 20px;
    right: 30px;
  }

  .ml-form--actions {
    text-align: center;
  }
}

// Big screen
@media (min-width: 840px) {

}
